@import '../../../styles/settings.scss';

.container {
  min-width: $minDashboardWidth;
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.breadcrumbContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}