@import '../../styles/settings.scss';

.formContainer {
  font-size: 16px;
}

.buttonContainer {
  padding-top: 30px;
}

.button {
  width: 100%;
}

.loginError {
  padding-top: 20px;
  color: $red;
}

.signUpOrLogin {
  text-align: center;

  a {
    color: $linkColor;
    text-decoration: underline;

    &:hover {
      color: $linkHoverColor;
    }
  }
}