@use '../styles/settings.scss';

.activation {
  text-align: center;
  a {
    color: settings.$linkColor;
    text-decoration: underline;
  
    &:hover {
      color: settings.$linkHoverColor;
    }
  }
}