@import '../styles/settings.scss';

.activation {
  text-align: center;
  a {
    color: $linkColor;
    text-decoration: underline;
  
    &:hover {
      color: $linkHoverColor;
    }
  }
}