@use '../../styles/settings.scss';

.container {
  min-width: settings.$minDashboardWidth;
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formContainer {
  width: 50%;
  min-width: 950px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  color: settings.$highText;
}