six>=1.15.0
beautifulsoup4>=4.11.1
boto3==1.23.5
botocore==1.26.5
cloudreactor-procwrapper==4.0.0
crontab==0.23.0
cryptography==37.0.2
Django==3.2.14
django-anymail[amazon_ses]==8.6  # https://github.com/anymail/django-anymail
django-cors-headers==3.12.0
django-csp>=3.7
django-dynamic-fixtures==0.2.1 # https://github.com/Peter-Slump/django-dynamic-fixtures
django-environ==0.4.5  # https://github.com/joke2k/django-environ
django-extensions==3.1.5
django-filter==21.1
django-guardian==2.4.0
django-middleware-global-request==0.2.0
django-model-utils==4.1.1  # https://github.com/jazzband/django-model-utils
django-templated-email==3.0.0
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
drf-flex-fields==0.9.8
drf-spectacular==0.22.1 # https://github.com/tfranzel/drf-spectacular
Jinja2>=3.0.1
jsonpath-ng>=1.5.2
gunicorn>=20.1.0 # https://github.com/benoitc/gunicorn
mergedeep>=1.3.4
networkx>=2.8.2
psycopg2==2.9.3 # https://github.com/psycopg/psycopg2
pypd==1.1.0
python-dateutil==2.8.1
python-dotenv>=0.19.0
# TODO: replace with https://github.com/AlexandreDecan/portion
python-intervals==1.10.0
pytz>=2022.1
PyYAML==5.4.1
requests>=2.27.1
# sqlparse < 0.4.1 has a SQL injection vulnerability
sqlparse>=0.4.2
stringcase==1.2.0 # https://github.com/okunishinishi/python-stringcase
urllib3>=1.26.9
whitenoise>= 6.1.0
#django-queryinspect==1.1.0
