six>=1.15.0,<2.0.0
beautifulsoup4>=4.12.3,<5.0.0
boto3>=1.35.87,<2.0.0
cloudreactor-procwrapper[allextras]==5.3.2
crontab>=1.0.1,<2.0.0 # https://github.com/josiahcarlson/parse-crontab
cryptography==43.0.3
Django>=4.2.17,<5.0.0
django-anymail[amazon_ses]>=10.3,<11.0  # https://github.com/anymail/django-anymail
django-cors-headers>=4.3.1,<5.0.0
django-csp>=3.8,<4.0.0
django-dynamic-fixtures>=0.2.1,<1.0.0 # https://github.com/Peter-Slump/django-dynamic-fixtures
django-environ>=0.11.2,<1.0.0  # https://github.com/joke2k/django-environ
django-extensions>=3.2.3,<4.0.0
django-filter>=24.2,<25.0
django-guardian>=2.4.0,<3.0.0
django-middleware-global-request>=0.3.5,<1.0.0
django-model-utils>=4.5.0,<5.0.0  # https://github.com/jazzband/django-model-utils
django-templated-email>=3.0.1,<4.0.0
djangorestframework>=3.15.2,<4.0.0
djangorestframework-simplejwt>=5.3.1,<6.0.0
djoser>=2.3.1,<3.0.0
django-typed-models>=0.14.0
django-rest-typed-models>=0.1.0
drf-flex-fields>=1.0.2,<2.0.0
drf-spectacular>=0.28.0,<1.0.0 # https://github.com/tfranzel/drf-spectacular
Jinja2>=3.1.5,<4.0.0
gunicorn>=23.0.0 # https://github.com/benoitc/gunicorn
networkx>=2.8.8,<3.0.0
psycopg[binary,pool]==3.2.3,<4.0.0 # https://github.com/psycopg/psycopg

pdpyras>=5.2.0,<6.0.0

pydantic>=1.10.14,<2.0.0

# Deprecated, use pdpyras instead
pypd>=1.1.0,<2.0.0

python-dateutil>=2.8.1,<3.0.0
python-dotenv>=1.0.1,<2.0.0
# TODO: replace with https://github.com/AlexandreDecan/portion
python-intervals>=1.10.0,<2.0.0
pytz>=2024.2
PyYAML>=6.0.1,<7.0.0
requests>=2.32.3,<3.0.0
sqlparse>=0.5.3,<1.0.0
stringcase==1.2.0,<2.0.0 # https://github.com/okunishinishi/python-stringcase
whitenoise>=6.8.2
#django-queryinspect==1.1.0
