@import '../../styles/settings.scss';

.summaryContainer {
  margin-left: 6px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: $mediumText;

  .description {
    font-size: 18px;
  }
}

.copyButton {
  margin-left: 0.5rem;
}