.container {
  max-width: 600px;
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  h1 {
    text-align: center;
  }
}

.fieldGroup {
  padding-top: 1.5em;
}