.runEnvironmentSelector {
  width: 233px !important;
  max-width: 720px !important;
  box-sizing: border-box;
  
  @media (max-width: 768px) {
    width: 100% !important;
    max-width: 100% !important;
  }
}
