.logSection {
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  margin-left: -10px;

}

.logBlock {
  font-family: monospace;
  width: 94vw;
  max-width: 80rem;
  color: white;
  background-color: black;
}