// media breakpoints
$mobileTinyWidth: 320px; // around iPhone 5's width
$mobileWidth: 576px; // reflex xs
$tabletWidth: 768px; // reflex sm
$tabletLargeWidth: 992px; // reflex md
$tabletLargeHeight: 1366px; // around iPad Pro's height
$laptopWidth: 1200px; // reflex lg
$laptop15Width: 1440px; // 15" laptop screen width
$desktopWidth: 1600px; // reflex xlg

// standard color definitions
$red: #EB5160;
$darkGray: #606060;
$lightGray: #CCC;
$transparent: hsla(360,100%,100%,0);

// brand color definitions
$lightBlue: #C0D9E5;
// $mainBlue: hsl(200, 78%, 55%);
$mainBlue: #668DA2;
$darkBlue: #244454;

// font colour (Google Material Design suggestions)
$priorityText: hsla(360, 100%, 100%, 1);
$highText: hsla(360, 100%, 100%, 0.87);
$mediumText: hsla(360, 100%, 100%, 0.6);
$disabledText: hsla(360, 100%, 100%, 0.38);

// min container width for dashboards (with tables)
$minDashboardWidth: 1000px;

// link colour
$linkColor: #01c39a;
$linkHoverColor: darken($color: #01c39a, $amount: 10%);