@use "~bootswatch/dist/slate/variables";

table {
	.th-header {
	  //background: #f9fafb;
	  font-weight: bold;
	}
	tr.custom_status_bg {
  	cursor: pointer;

		.danger {
			color: variables.$danger;
		}

		.success {
			color: variables.$success;
		}

		.warning {
			color: variables.$warning;
		}
	}


	.custom_status_bg:hover {
		td.danger {
			// Not good for dark mode
			//background-color: #FFE7E7;
		}
		td.success {
			// Not good for dark mode
			//background-color: #F7FFE6;
		}
		td.warning {
			// Not good for dark mode
			//background-color: #FFF4E4;
		}
	}
}

.tableActionsColumn {
  white-space: nowrap;
  
  button, .fas {
    display: inline-block;
  }
}