@use '../../styles/settings.scss';
$formSectionSpacing: 1.5em;

.formSection {
  border-bottom: 1px solid hsla(360,100%,100%,0.1);
  padding-bottom: $formSectionSpacing;
  &:not(:first-child) {
    padding-top: $formSectionSpacing;
  }
}

.sectionTitle {
  font-size: 24px;
  padding-bottom: 0.5em;
}